#!/usr/bin/env bash
#{{- if .sys_apps_needed -}}

sudo apt-get update && apt-get install \
	python3.9 \
	git \
        nvim

# Node Version Manager
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash

